
#################
## Visual Studio
#################

#########
# Node.js
#########
node_modules

#########
# EasyRTC
#########
*.log
config_override.js
nbproject
/.idea
desktopCapture
/api/labs/desktopCapture
test/reports/
bower_components/

##IDE
.idea
*.iml
.vscode
.DS_STORE
*.swp
*.swo

